/* ------- NAV ------- */
/* - 수정 2023-02-17 - */

.side-nav {
    width: 28rem;
    height: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 99; 
    background: #313131;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 20%);
    min-width: 24rem;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
    position: relative;
}
.brand-user {
    padding: 2rem 2.4rem;
    border-bottom:1px solid #434343;
	display: flex;
    align-items: center;
    justify-content: center;
}
.brand-user .brand img {
    width: 11rem;
}
.brand-user .brand h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 4px 0 24px;
}
.brand-user .user {
    display: flex;
    justify-content: space-between;
}
.brand-user .user span {
    font-size: 1.8rem;
    font-weight: bold;
}
.brand-user .btn-area {
    position: inherit !important;
}
.brand-user .btn-area .btn {
    font-size: 13px;
}
.btn-area.d-flex .btn + .btn {
    margin-left: 6px;
}

.side-nav .side-menu {
    height: calc(100% -  236px);
    /*overflow-y: auto;*/
    overflow-y: overlay;
    position: relative;
    flex: 1;
    
}
.side-nav .side-menu > ul {
    margin-top: 6px;
}
.side-nav .side-menu ul li  {}
.side-nav .side-menu ul li a {
    display: flex;
	align-items: center;
    width: 100%;
    position: relative;
    padding: 1.4rem 2rem;
    color: #fff;
	font-size: 1.4rem;
	font-weight: 500;
	opacity: .7;
}
.side-nav .side-menu ul li a > img {
	width: 2rem;
	margin-right: 1.6rem;
}
.side-nav .side-menu ul li a i{
	margin-right: 1.4rem;
	color: #aaa;
	width: 16px;
    text-align: center;
}
.side-nav .side-menu ul li a:hover,
.side-nav .side-menu ul li a:active,
.side-nav .side-menu ul li a:focus{
    color: #fff;
	opacity: 1;
    background-color: #222;
}
.side-nav .side-menu ul li a:hover i,
.side-nav .side-menu ul li a:active i,
.side-nav .side-menu ul li a:focus i{
    color: #3879E9;
}
.side-nav .side-menu ul li a:focus{
    font-weight: 700;
}
.side-nav .side-menu .side-menu-dropdown > a:after {
    font-family: "FontAwesome";
    content: "\f078";
    display: inline-block;
    position: absolute;
    right: 1.8rem;
    top: 1.7rem;
    font-size: 1.27rem;
}
.side-nav .side-menu .side-menu-dropdown.active > a:after {
    transform: rotate(180deg);
}
.side-menu-submenu {
    background-color: rgba(5,5,5,.02);
}
.side-nav .side-menu .side-menu-submenu ul li a {
    padding: 1.2rem 2.4rem 1.2rem 5.7rem;
    font-size: 1.3rem;
}
.side-nav .side-menu .side-menu-submenu {
    display: none;
}

.side-nav header {
    width: 100%;
    height: 48px;
    border-bottom:1px solid #ddd;
    padding: 0 20px;
}
.side-nav header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.side-nav header ul li{
    width: 20px;
    height: 20px;
}
.side-nav header ul li + li{
    margin-left: 20px;
}
.side-nav header ul li a{
    position: relative;
}
.side-nav header ul li a img{
    width: 20px;
}
.badge.noti {
    padding: 2px 8px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #FF3E1D;
	border:0;
    color: #fff;
	top:-8px;
	right:-11px;
}

.side-nav .side-nav-header {
	background: rgba(255,255,255,.04);
}
.side-nav-header > .ico-menu-list {
	justify-content: flex-end
}
.ico-menu-list{
	display: flex;
	padding: 1.2rem 2rem;
}
.ico-menu-list .ico-btn{
	width: 2.4rem;
	height: 2.4rem;
	margin-left: 2rem;
	opacity: .8;
    position: relative;
    padding: .2rem;
}
.ico-menu-list .ico-btn:hover{
	opacity: 1;
}

.side-nav > .user {
    border-bottom: 1px solid #434343;
}
.side-nav > .user a{
	display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 1.6rem 2rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    opacity: .7;
}
.side-nav > .user a:after {
	font-family: "FontAwesome";
    content: "\f054";
    display: inline-block;
    position: absolute;
    right: 1.8rem;
    top: 2rem;
    font-size: 1.27rem;
}
.side-nav > .user a:hover {
    opacity: 1;
	background-color: #222;
}
.side-nav > .user a > img {
	width: 2rem;
	margin-right: 1.6rem;
}
.side-nav > .user a > .name:after{
	content: '님';
	margin-left: 2px;
	opacity: .7;
	font-size: 90%;
}

.ico-btn {
	border:0;
	background: transparent;
	padding: 0;
    cursor: pointer;
}
.ico-btn > img {
	width: 100%;
}
.ico-btn.disabled {
	opacity: 0.7;
	cursor: not-allowed;
}


.side-nav {
    display: none;
}
.page-wrapper.toggled #side-nav {
    display: block;
    position: fixed;
    margin-left: 0;
    width: 280px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.1);
}

.side-nav footer {
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 3.6rem;
    border-top: 1px solid rgba(255 255 255 / 8%);
    padding: 7px 20px; 
}
.side-nav footer .app-v {
    font-size: 12px;
    color: #999;
}

