@charset "UTF-8";

/*
==============================================
                   popup-dialog 
==============================================
*/

div.popup-dialog.mum-t {
    position:fixed;
    background:#fff;
    z-index: 2000;
    top:0;
    left:0;
    overflow:hidden;
    opacity: 0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

    &.bg-card{
        background: #37404a !important;
    }
    &.fullscreen{
        width: 100%;
        height: 100%;
    }
    &.open{
      opacity: 1;
      visibility: visible;
      z-index: 2000;
      
    }
    > div.dialog-title {
        padding: 10px 20px;
        letter-spacing: 1px;
        cursor: default ;
        overflow: hidden;
        text-align: left;
        font-size: 16px;
        height: 48px;
        line-height: 27px;
        border-radius: 0;
        text-shadow: none;
    }

    > div.dialog-body {
        position: relative;
        display: block;
        flex: 1 1 auto;
        margin: 0;
        color: #fff;
        padding: 0;
        overflow: hidden;
        height: calc(100% - 40px);
    }

    > div.dialog-close {
        position: absolute;
        top: 14px;
        right: 12px;
        background: url(../images/ico_close@2x.png) no-repeat center center;
        background-size: contain;
        width: 20px; height: 20px;
        cursor: pointer;
        opacity: 70%;

        &:after{
            display: none !important;
        }
    }

    &.bump {
    animation: do-bump 0.35s ease;
    }

    &.fadeout {
    animation: do-fadeout 0.2s linear;
    }

    &.fadein {
    animation: do-fadein 0.2s ease;
    }

    &.zoomin {
    animation: do-zoomin 0.2s ease;
    }
}

@keyframes do-bump {
    0% {
      transform: scale(1.2, 1.2);
      opacity: 0.7;
    }
  
    50% {
      transform: scale(0.9, 0.9);
      opacity: 0.9;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
}
  
@keyframes do-zoomin {
    0% {
        transform: scale(1.5, 1.5);
        opacity: 0.1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes do-fadein {
    0% {
        transform: scale(0.5, 0.5);
        opacity: 0.1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes do-fadeout {
    0% {
        transform: scale(1, 1);
        opacity: 1;
    }

    100% {
        transform: scale(0.5, 0.5);
        opacity: 0.1;
    }
}

.bg-dark{
    background: #32312F !important;
}

.map-area {
    //position: absolute;
    //top: 0;
    //left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    > iframe {
        width: 100%;
        height: 100%;
        border:0;
    }
}

.Cover_figure {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.cursor-pointer {
    cursor: pointer;
}

.timer{
    position: absolute;
    top: 1rem; left: 1.3rem;
    z-index: 2000;

    & span{
        font-weight: 500;
        font-size: 16px;
        text-align: left;
        font: normal normal bold 16px/24px Noto Sans CJK KR;
        letter-spacing: .5px;
        color: #3CFF9D;
    }
}

.button-group.location{
    position: absolute;
    top: .8rem; right: 850px;
    display: flex; 
    align-items: center;
    justify-content: center;

    .button{
        border: 1px solid #A7A6A5;
        text-shadow: none;
        min-width: 36px;
        min-height: 36px;

        &:not(:first-child):not(:last-child){
            border-radius: none !important;
        }

        &.gray2{
            margin-right: 5px !important;
            padding: 0;
            background: rgba(255, 255, 255, 0.75);
            font-weight: 800;
            font-size: 16px;
            color: #3C4141;
            letter-spacing: 0;
            border-radius: 4px !important;

            &:first-child, &:nth-child(2){
                border-radius: 4px !important;
            }
        }

        &.ico-compass{
            margin-right: 5px !important;
            background: rgba(255, 255, 255, 0.75) url(../images/ico_compass@2x.png) no-repeat left 6px top 50%/22px 22px !important;
            border-radius: 4px !important;
        }

        &.ico-plue{
            background: rgba(255, 255, 255, 0.75) url(../images/ico_plus@2x.png) no-repeat left 8px top 50%/20px 20px !important;

            &:nth-child(3){
                border-radius: 4px !important;
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                border-right-width: 0;
            }
        }
        &.ico-minus{
            background: rgba(255, 255, 255, 0.75) url(../images/ico_mihus@2x.png) no-repeat left 8px top 50%/20px 20px !important;

            &:nth-child(4){
                border-radius: 4px !important;
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
            }
        }
    }
}

.right-area{
    position: absolute; 
    top: 1%; right: .5rem;
    width: 850px;
    //width: 45%;
    height: 100%; 
}


$flex-space: 0.571em;

.fz-row {
    &.row-cols-1 > * {
        flex: 0 0 auto;
        flex-basis: 100%;
        margin: 0 0 .5rem 0;
        
        &:last-child{
            margin-bottom: 0;
        }
    }
    &.row-cols-2 > * {
        flex: 0 0 auto;
        flex-basis: 50%;
        margin-bottom: .5rem;
        padding: 0 0.3rem;
        //margin: 0 0.5em 0.5em 0;
    }
    &.j-c-b{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-start;
        margin-left: 1rem;

        .fi8of12{
            flex-basis: 576px !important;
            flex-grow: inherit;
            flex-shrink: inherit;
        }
        
        .fi4of12{
            flex-basis: 266px !important;
            flex-grow: inherit;
            flex-shrink: inherit;
        }
    }
}

@media (max-width:1180px) {
    .fz-row {
        &.row-cols-2 > * {
            flex-basis: 100%;
            padding: 0;
        }
    }
}

.fz-row.row-cols-1{
    & a{
        //cursor: pointer;
        &:focus, &:hover, &:active, &.on{
            .fz-column.col{
                background: rgba(253, 56, 31, 0.2);
                border: 1px solid rgba(253, 56, 31, 1);
            } 
        }
    }
}
.fz-row.row-cols-2{
    & a{
        //cursor: pointer;
        &:focus, &:hover, &:active, &.on{
            .fz-column.col{
                background: rgba(15, 172, 255, 0.3);
                border: 1px solid #0FACFF;
            } 
        }
    }
}
.fz-column.col{
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.08);
    margin: 0;
    border-radius: 4px;
}
.fz-column.col.flex-nowrap{
    &:last-child{
        margin: 0;
    }
}

.bg-{
    background: #252525;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
    border: 1px solid #3C4141;
    border-radius: 8px;
    //height: 100vh;
    //margin: 0 8px 0 0;
}

.fz-card.layout{
    margin-right: 0.355rem !important;
    margin-bottom: 0 !important;

    &.mr-0{margin-right: 0 !important;}

    &:last-child{
        margin-bottom: 0;
    }
    .fz-card-header{
        background: rgba(217, 252, 255, 0.08);
        border-radius: 8px 8px 0px 0px;
        height: 40px;
        min-height: 40px;
        line-height: 1.7rem;
        padding: 0.5rem 1rem !important;
        font-weight: 800;
    }
    .fz-card-body{
        &.no-bg{
            background: none;
            padding: 8px;
            flex: none;
            overflow-y: auto !important;
            overflow: hidden;

            &.no-scroll{
                overflow-y: hidden !important;
            }
        }
    }
    .card-body {
        flex: 1 1 auto;
        padding: 8px;
    }
}

/*.fz-card.layout .fz-card-body */
/*@media (min-width: 3000px) {
    .fz-card.layout {
        .fz-card-body{
            &.h2100{
                height: 2100px;
            }
        }
    }
}*/

.list-group.list{
    .list-group-item {
        background: none;
        padding: 0;
        border: none;
        border-radius: none;
        margin-bottom: 0;
        color: rgba(167, 167, 167, 1);
        font-size: 13px;
        line-height: 1.5;
        display: flex;

        .tit{
            position: relative;
            padding-right: 8px;
            min-width: 70px;

            &:after{
                position: absolute;
                top: 0;
                right: 7px;
                content: ':';
            }
        }
      }
}

.card-img, .card-img-top {
    position: relative;
    font-size: 14px;
    letter-spacing: 1px;
    text-anchor: middle;
    user-select: none;
    width: 100%; height: 135px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #3C4141;

    &.border-bottom{
        border: none;
        border-radius: 3px 3px 0px 0px;
    }
    &.on{
        border: 2px solid rgba(15, 172, 255, 1);
    }
}

.fz-ac {
    section.fz-ac-contents.arrow {
      position: relative;
      //overflow: hidden;
      overflow: inherit;
  
      &:not(:first-child) {
        margin-top: 1px;
      }
  
      > input[type=checkbox],
      > input[type=radio] {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        pointer-events: none;
  
        + label {
          display: block;
          padding: 0.55rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          user-select: none;
          background: none;
          cursor: pointer;
          background: rgba(217, 252, 255, 0.08);
          border-radius: 8px 8px 0px 0px;
          font-weight: bold;
  
          > i:first-child {
            width: 1.571rem;
            margin-right: 0.357rem;
          }
  
          &:after {
            content: "\f107";
            position: absolute;
            right: 0;
            top: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            font: normal normal normal 1.1rem "Font Awesome 6 Pro";
            font-weight: 400;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            padding: 0.714rem;
            display: inline-block;
            opacity: 70%;
          }
  
          + article {
            display: block;
            overflow: hidden;
            max-height: 0;
            transition: max-height .3s cubic-bezier(0.02, 0.96, 0.5, 0.99);
  
            > .content {
                padding: 0.571rem 0.371rem 0.571rem  0.571rem  !important;
                display: none;

                &.pb-4{
                    padding: 0.571rem 0.571rem 0.3rem  0.571rem  !important;
                }
            }
          }
        }
  
        &:checked + label {
  
          &::after {
            content: '\f107';
            transform: rotate(180deg);
          }
  
          + article {
            overflow: initial;
            max-height: 1000px;
            //max-height: 80%;
            //transition: max-height 1.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
            transition: max-height .35s cubic-bezier(0.45, 0.05, 0.55, 0.95);

            > .content{
                display: block;
            }
          }

        @media (min-width: 2000px) {
            + article{
            //max-height: 1283px;
            max-height: 80%;
            }
        }
        }
      }
    }
  }

.badge.no-ani {
    width: auto;
    height: 20px;
    animation: none;
    padding: 4px 8px;
    margin-right: 5px;
    color: #252525;
    font-size: 12px;
    cursor: default;
    font-weight: 800;
    border-radius: 0;
    font-family:"Arial",sans-serif;

    &.bg-live{
        background: #3CFF9D !important;
    }

    
}

/*표적지정 버튼*/
button,
span {
  &.button{
    &.positon{
        position: absolute; 
        right: 5px; top: 0;
        width: 68px;
        height: 28px; 
        z-index: 3000;
        padding: 0; 
        margin-top: 100px;
    }
    &.deepred {
        background: rgba(255, 83, 61, 1);
        border: 1px solid rgba(0, 0, 0, 0.08);
        color: #fff;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
        font-weight: bold;
    }
    &.deegray{
        text-shadow: none;
        font-weight: bold;
    }
  }
}

.fs16{
    font-size: 16px; 
}




