@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}

ol, ul, li {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table{
    border-collapse:collapse;
    border-spacing:0;
}

a {
	background-color:transparent;
    -webkit-text-decoration-skip:objects; 
	text-decoration: none;color: inherit;
}
a:active,a:hover{outline-width:0}
/* 폰트 강조 특성 초기화 */
address, caption, cite, code, dfn, em, strong, th, var,i {
    font-style: normal;
}
/* h1,h2,h3,h4,h5,h6 {
      font-size: inherit;
      line-height: normal;
} */
button, 
input[type="submit"],
button[type="button"]{
  cursor:pointer;
}
label {
    display: inline-block;
}
input, select, textarea, button {
    outline: none;
    border: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.33rem;
}
textarea {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: transparent;
    word-break: keep-all;
    word-wrap: break-word
}
textarea {
    width: 100%;
    resize: none;
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
    overflow: auto;
}
input, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff url("../images/ico_arrow_down@2x.png") right 6px center no-repeat;
	background-size: 1.6rem 1.6rem;
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
} 
input[type="date"]::-webkit-calendar-picker-indicator { 
    background: transparent;
    z-index: 1;
} 

/*모바일 안드로이드 기기(삼성폰,LG폰)에서 달력아이콘이미자와 v모양의 달력아이콘이 이중으로 보임
  v모양의 달력아이콘 안보이기 위해 appearance: none 설정
*/
input[type="date"]{
    -webkit-appearance: none;  /* Safari and Chrome */
    -moz-appearance: none;  /* Firefox */
    appearance: none;
}

.input_date_box input{
	position: relative;
    padding: .6rem 1.2rem .6rem .8rem;
}
.input_date_box input:after{
  position: absolute;
  top:50%;
  right:8px;
  content: '';
  width: 16px;
  height: 16px;
  background: url("../images/ico_calendar.png") center center / contain ;
  transform: translateY(-50%);
  z-index: 0;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand { 
    display: none;  /*숨겨진 화살표의 영역유지 X */
}
input[type="text"]::-ms-clear,
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}
/* input number 화살표 제거 Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
}
  
/* input[type="checkbox"],
input[type="radio"] {
    filter: invert(2%) hue-rotate(5deg) brightness(1.2);
    transform: scale(1.3);
    opacity: 0.55;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
    accent-color: #3879E9 !important;
    opacity: 1;
} */
input[type=radio], 
input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

input[type=checkbox]:disabled + i:before,
input[type=checkbox][disabled] + i:before,
input[type=checkbox]:disabled + i:after,
input[type=checkbox][disabled] + i:after,
input[type=radio]:disabled + i:before,
input[type=radio][disabled] + i:before,
input[type=radio]:disabled + i:after,
input[type=radio][disabled] + i:after {
    cursor: not-allowed !important;
    opacity: 1;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
}

input[type=month]::-webkit-clear-button,
input[type=month]::-webkit-inner-spin-button {
  display: none;
}

input[type=month]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
}

*:hover {
    -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}

/*크롬에서 파랑색 배경 없애기*/
input:-webkit-autofill {
    -webkit-text-fill-color: rgba(34, 34, 34, 1);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
   transition: background-color 5000s ease-in-out 0s;
}

/*스크롤바 커스텀*/
/* *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
*::-webkit-scrollbar-thumb { 
    background-clip: padding-box;
    border-radius: 3px;
    background-color: rgba(139, 145, 144, .5);
}

*::-webkit-scrollbar-button:start:decrement,
*::-webkit-scrollbar-button:end:increment {
    display: block;
    width: 0;
    height: 0;
    background-color: transparent;
}
*::-webkit-scrollbar-corner {
    background: 0 0;
}

*::-webkit-scrollbar-track { 
    background-color: transparent;
    border: 1px solid rgba(219, 219, 219, 1);
} */

summary{
    cursor: pointer; /*마우스를 위로 올렸을때 커서를 손가락모양으로 바꾸기*/
    outline:none;  /*검정색 외곽라인 없애기*/
}
details summary::marker, /*삼각형모양의 특수문자 커스터마이징*/
details summary::-webkit-details-marker{
    display: none;
    content: '';
}
