
/* ----- LOGIN ----- */

.login-wrap {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* background: #F2F3F3; */
    background: #F2F3F3 url(../images/bg.png) no-repeat center bottom;
    /* background-size: 100%; */
    background-size: 100% 35%;
}
.login-wrap .login-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-wrap .login {
    max-width: 340px;
    padding: 0 2rem;
	position: relative;
    overflow: hidden;
	display: flex;
	flex-direction: column;
}

.login .title-area {
    text-align: center;
    margin: 3.5rem 0 ;
}
.login .title-area .logo-img{
    width: 245px;
}

.login-wrap .login-area .input-group {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.login-wrap .login-area input[type=submit]{
    width: 100%;
    height: 4.8rem;
}
.login-wrap .login-area p{
    color: #6F6F6F;
    letter-spacing: -0.24px;
    font: normal normal normal 12px/20px Noto Sans CJK KR;
}



.num_wrap .input_row,
.id_pw_wrap .input_row {
    position: relative;
    display: flex;
    align-items: center;
    table-layout:fixed;
    width: 100%;
    padding: .3rem .5rem .3rem;
    box-sizing:border-box;
    margin-bottom: .5rem;
}
.input_row {
    position: relative;
    display: block;
    height: 100%;
    border: 1px solid #dbdbdb;
    background: #fff;
    padding: 1.6rem 1.8rem 1.5rem;
    border-radius: .4rem;
    box-sizing: border-box;
    text-align: left;
}
.num_wrap .input_row .icon_cell,
.id_pw_wrap .input_row .icon_cell {
    display:table-cell;
    width: 40px; height: 40px;
    vertical-align:middle;
    background: rgba(162, 154, 154, .12);
    border-radius: .4rem;
    margin-right: .5rem;
}
.num_wrap .input_row .icon_cell .icon_num,
.id_pw_wrap .input_row .icon_cell .icon_id,
.id_pw_wrap .input_row .icon_cell .icon_pw {
    position:absolute;
    top: 37%;
    left: 1rem;
    margin-top: -8px;
}
.id_pw_wrap .input_row .icon_cell .icon_id{
    background: url(../images/ico_user@2x.png) no-repeat;
    background-size: contain;
    width: 2.8rem; height: 2.8rem;
}
.id_pw_wrap .input_row .icon_cell .icon_id > img{
    width: 2.8rem; height: 2.8rem;
}
.id_pw_wrap .input_row .icon_cell .icon_pw{
    background: url(../images/ico_password@2x.png) no-repeat;
    background-size: contain;
    width: 2.8rem; height: 2.8rem;
}
.num_wrap .input_row .icon_cell .icon_num{
    background: url(../images/ico_verify@2x.png) no-repeat;
    background-size: contain;
    width: 2.8rem; height: 2.8rem;
}

.num_wrap .input_row .input_text,
.id_pw_wrap .input_row .input_text {
    display:table-cell;
}
.input_text {
    position:relative;
    display:block;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -.5px;
    color:#222;
    box-sizing:border-box;
    z-index: 4
}
.num_wrap .btn{
    min-width: 8.8rem;
    min-height: 3.6rem;
    border: 1px solid #B1B1B1;
    border-radius: .3rem;
    background: #fff;
    font-size: 1.3rem;
    color: #6F6F6F;
    letter-spacing: -0.5px;
    padding: 0.375rem 0.5rem;
    float: right;
    margin-bottom: .8rem;
}
.num_wrap .input_row .number{
    font-size: 1.6rem;
    font-weight: bold;
    color: #D9000D;
    position: absolute;
    right: 1rem;
}





