@charset "UTF-8";

.login-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.login-wrapper .login-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 32.2rem;
}
.login-box .login-box-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
}
.login-box .login-header{
    width: 100%;
    margin: 3.2rem 0;
    text-align: center;
}
.login-box .login-header h4{
    font-size: 1.9rem;
    line-height: 1.4;
    color: #BCC3C1;
    letter-spacing: -0.8px;
}

.login-box .login-body{
    width: 32.2rem;
}
.login-box .form-group {
    margin-bottom: 1.6rem;
}
.login-box .form-group input[type="text"],
.login-box .form-group input[type="password"]{
    width: 100%;
    height: 4rem;
    background: #2F3235;
    border:1px solid rgba(217, 252, 255, 0.16);
    border-radius: .4rem;
    font-size: 1.6rem;
    padding: .6rem 1.2rem;
    color: #fff;
}
.login-box .form-group input[type="text"]:hover,
.login-box .form-group input[type="password"]:hover,
.login-box .form-group input[type="text"]:active,
.login-box .form-group input[type="password"]:active,
.login-box .form-group input[type="text"]:focus,
.login-box .form-group input[type="password"]:focus{
    background: #2F3235;
    border:1px solid #3EABB3;
    color: #fff;
}
.login-box .form-group input[type="text"]:active,
.login-box .form-group input[type="password"]:active,
.login-box .form-group input[type="text"]:focus,
.login-box .form-group input[type="password"]:focus,
.login-box .form-group input[type="text"]:visited, 
.login-box .form-group input[type="password"]:visited{
    background: #2F3235;
    border: 1px solid #2E7E84;
    color: #fff;
}
.login-box .btn.login {
    background:#2E7E84;
    color: #fff;
    width: 100%;
    height: 4.8rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: 0 0 4px rgba(0 0 0/ 13%);
}
.login-box .form-group.remember label {
    font-size: 1.3rem;
    color: #A9B3C6;
    display: flex;
    align-items: center;
}
.login-box .form-group.remember label > span,
.login-box .form-group.remember label > i {
    color: #8B9190;
}
.login-box .login-body form .form-group.last {
    margin-bottom: 2.3rem;
}

.login-box .login-body .password {
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 1.8rem;
}
.login-box .login-body .password > li {
    text-align: center;
    padding: 0;
}
.login-box .login-body .password > li > a {
    font-size: 1.3rem;
    color: #8B9190;
    letter-spacing: -0.26px;
}
.login-box .login-body .password > li > a:before {
    content:"|";
    color:rgba(217, 252, 255, 0.16);
    padding: 0 .8rem;
}
.login-box .login-body .password > li:first-child a:before {content:"";padding:0;}





















