@font-face {
  font-family: actual;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Actual_Medium.eot);
  src: url(../fonts/Actual_Medium.eot?#iefix) format('embedded-opentype'),
  url(../fonts/Actual_Medium.woff) format('woff'),
  url(../fonts/Actual_Medium.ttf) format('truetype');
}

@font-face {
  font-family: actual;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Actual_Bold.eot);
  src: url(../fonts/Actual_Bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/Actual_Bold.woff) format('woff'),
  url(../fonts/Actual_Bold.ttf) format('truetype');
}

@font-face {
  font-family: cc;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/CamingoCode-Regular.eot);
  src: url(../fonts/CamingoCode-Regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/CamingoCode-Regular.woff) format('woff'),
  url(../fonts/CamingoCode-Regular.ttf) format('truetype'),
  url(../fonts/CamingoCode-Regular.svg#CamingoCode-Regular-400-normal) format('svg');
}

@font-face {
  font-family: cc;
  font-weight: 900;
  font-style: normal;
  src: url(../fonts/CamingoCode-Bold.eot);
  src: url(../fonts/CamingoCode-Bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/CamingoCode-Bold.woff) format('woff'),
  url(../fonts/CamingoCode-Bold.ttf) format('truetype'),
  url(../fonts/CamingoCode-Bold.svg#CamingoCode-Regular-900-normal) format('svg');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/notokr-regular.eot);
  src: url(../fonts/notokr-regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/notokr-regular.woff) format('woff'),
  url(../fonts/notokr-regular.woff2) format('woff2'),
  url(../fonts/notokr-regular.ttf) format('truetype'),
  url(../fonts/notokr-regular.svg#notokr-regular-400-normal) format('svg');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/notokr-bold.eot);
  src: url(../fonts/notokr-bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/notokr-bold.woff) format('woff'),
  url(../fonts/notokr-bold.woff2) format('woff2'),
  url(../fonts/notokr-bold.ttf) format('truetype'),
  url(../fonts/notokr-bold.svg#notokr-regular-700-normal) format('svg');
}

@font-face {
  font-family: digital7;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/digital-7.eot);
  src: local("Digital-7"),
  url(../fonts/digital-7.eot?#iefix) format('embedded-opentype'),
  url(../fonts/digital-7.ttf) format('truetype');
}

body {
  font-family: 'Noto Sans KR', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.font-actual {
  font-family: actual, Helvetica, Arial, sans-serif !important;
}

.font-cc {
  font-family: cc, Helvetica, Arial, sans-serif !important;
}

.font-noto {
  font-family: 'Noto Sans KR', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.font-digital7 {
  font-family: digital7, Helvetica, Arial, sans-serif !important;
}
