.fz-card.no-bg > .fz-card-header, fz-card.no-bg > .fz-card-header {
  background: transparent;
  padding: 0;
  min-height: auto;
}
.fz-card.no-bg > .fz-card-body, fz-card.no-bg > .fz-card-body {
  background: transparent;
  padding: 0;
}

:root {
  --light-blue: #2491FD;
}

button.button.size,
span.button.size {
  padding: 0.38rem 0.46rem !important;
  font-size: 12px;
}
button.button.light-blue,
span.button.light-blue {
  color: #fff;
  background: var(--light-blue);
}

.list-group.bottom-border {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0;
}
.list-group.bottom-border > .list-group-item {
  background: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-width: 0 0 1px 0;
}
.list-group.bottom-border > .list-group-item .list-group-info {
  letter-spacing: 1px;
}

label.styled.light-blue input[type=checkbox] + i:before {
  content: "";
  background: url(../images/checkbox@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -1px 0;
  width: 20px;
  height: 20px;
}
label.styled.light-blue input[type=checkbox]:checked + i:before {
  content: "";
  font-weight: 900;
  background: url(../images/checkbox_checked@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -1px 0;
  width: 20px;
  height: 20px;
}