/* *******************************************************
 * filename : login.css
 * description : 
******************************************************** */
@charset "utf-8";

body.White{background:#fff;}

.wrapper{display:flex; 
    justify-content: flex-start;
    align-items: center; /*20220305*/
}
.left_wrap{
    background:#F05423; 
    min-width: 640px; height:100vh;
    position:relative;
}
.right_wrap{
    width:80%; 
    /*padding:200px 0 0 0;*/
    /*padding:150px 0 0 0;*/
}

.left_wrap h1{
    position:absolute;
    top:40px; right:40px;
    color:#fff; text-align:right;
}
.left_wrap .bottom{
    position:absolute; bottom:40px; right:40px;
    color:#fff; 
}
.bottom > h2{
    font-family:'SofiaPro'; 
    font-size:32px;
    font-weight:300;
    text-align:right;
}
.copyright{ margin-top:20px;}
.copyright li{
    font-family: LeferiPointWhite;
    padding:10px 0; 
    border-bottom:0.5px solid #fff;
    letter-spacing:1px;
    font-size:13px;
}
.copyright li div.font{font-family:'SofiaPro'; }
.copyright li:first-child{border-top:1px solid #fff;}

.inner{
    position:relative;
    text-align:center;
    width:auto;
    margin: 0 40px;
}

.inner > h1{
    color:#f05423;
    font-size:48px;
    font-family:'SofiaPro';
}

.login_header{
    box-sizing:border-box;
    padding-bottom:48px;
    padding-top:120px;
}
.login_header .inner{
    position:relative;
    text-align:center;
    width:auto;
    margin: 0 40px;
}
.login_header .inner > h1{
    color:#000;
    font-size:55px;
}

.login_wrap{
    position: relative;
    width:400px; 
    margin: 0 auto;
    padding:30px 0 50px;
}
.login-area{background:#fff;}
.login_inner {padding:20px;}

.id_pw_wrap .input_row {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding:14.5px 15px 14.5px;
    box-sizing: border-box;
}

.input_row+.input_row {
    margin-top:8px;
}
.input_row {
    position:relative;
    display:block;
    height:100%;
    border:1px solid #f05423;
    border-radius:5px;
    text-align:left;
    
}
.id_pw_wrap .input_row input::placeholder,
.id_pw_wrap .input_row input::-webkit-input-placeholder
{
    color:#f05423;
    opacity:0.6;
}

.input_text {
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -.5px;
    color: #222;
    box-sizing: border-box;
    z-index: 4;
    border:0;
    /*padding:5px 0;*/
}

.login_keep_wrap {
    position: relative;
    margin-top: 13px;
    padding-right: 90px;
}
/*input 은 숨겨주기*/
input#keep{display:none;}
/*input 바로 다음의 label*/
input#keep + label{cursor:pointer;}
/*input 바로 다음의 label:before 에 체크하기 전 CSS 설정*/
input#keep + label:before{
  content:"";
  display:inline-block;
  width:20px;
  height:20px;
  line-height:17px;
  border:1px solid #f05423;
  vertical-align:middle;/*체크 전과 체크 후 높이 차이 때문에 설정*/
  border-radius:4px
}
  
/*checked된 input 바로 다음의 label:before 에 체크 후 CSS 설정*/  
input#keep:checked + label:before{
  content:"\f00c";/*폰트어썸 유니코드*/
  font-family:"Font Awesome 6 Pro"; /*폰트어썸 아이콘 사용*/
  font-weight:900;/*폰트어썸 설정*/
  color:#fff;
  background-color:#f05423;
  border-color:#f05423;
  font-size:13px;
  text-align:center;
}


.keep_check {position: relative;}
.keep_check .input_keep {
    position:absolute; top:1px; left:3px;
    width:18px; height:18px;
    border: solid 1px #f05423;
    border-radius: 4px;
}
.keep_check .keep_text {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #f05423;
    padding-left:5px;
}

.btn_login_wrap {
    margin-top: 30px;
}
.btn_login {
    display: block;
    width: 100%; height:50px;
    /*padding: 13px 0 13px;*/
    border-radius: 6px;
    border: solid 1px #f05423;
    background-color: #f05423;
    box-sizing: border-box;
    color:#fff;
}

.login_footer{
    position:fixed; bottom:0;
    width:60%;
    /*width: calc(100% - 40%);*/
    background:#fff;
    padding:30px 0 30px;
    color: #f05423;
    border-top: 1px solid #f05423;
    margin:0 50px;
    font-family:'SofiaPro';
    font-size:14px;
}

@media all and (min-width: 2480px) {
    .login_footer{width:70%;}
}

/*@media (max-width:1601px) and (min-width: 2479px) {
    .login_footer{width:65%;}
}*/
@media all and (max-width: 1600px) {
    .login_footer{width:55%;}
    .left_wrap{min-width:600px;}
}
.login_footer ul{}
.login_footer ul li{display:inline-block; padding:0 15px;}
.login_footer ul li:last-child{padding-right:0;}


/*오시는길, 이메일무단수집거부, 개인정보취급방침*/
.__head {
    text-align: center;
}
.sub_cont_tit {
    font-size: 3rem;
    font-weight: 600;
    color: #333;
    line-height: 1;
    margin-bottom: 2.5rem;
    word-break: keep-all;
    margin-top: 5rem;
}
.zoom_line {
    display: block;
    text-align: center;
    margin: 40px auto 0;
    width: 60px;
    height: 3px;
    background: #000;
    animation-duration: 2s;
    animation-name: zoomline;
}
.subcontents {
    margin-top: 80px;
    padding: 60px 120px;
    text-align: left;
    background: #f8f8f8;
    color: #333;
}

.fz20{font-size:2rem;}
.d_txt{line-height:1.8;}