/* *******************************************************
 * filename : web_faip.css
 * description : faip3.0
******************************************************** */
@charset "utf-8";

/* 스크롤바 공통 */
.scrollbar::-webkit-scrollbar {width:7px; height:7px;} 
.scrollbar::-webkit-scrollbar-track {
    background-color: #282828;
    border-radius:7px;
} 
.scrollbar::-webkit-scrollbar-thumb {
    border-radius:7px;
    background-color: darkgrey;
}

.scrollbar::-webkit-scrollbar {width:7px; height:7px;} 
.scrollbar::-webkit-scrollbar-track {
    /*background-color: #282828;*/
    background-color:#fff;
    border-radius:7px;
} 
.scrollbar::-webkit-scrollbar-thumb {
    border-radius:7px;
    /*background-color: darkgrey;*/
    background-color: rgba(189, 66, 28, 0.2);
}

/* ********************레이아웃 ****************** */

#wrapper{
    /*min-width:1280px;*/
    display:flex;
    flex-direction:column;
    height:100vh;
}

.container{
    display:flex; 
    flex:1;
    justify-content: space-around;
}
.content{
    width:100%;
    height: calc(100vh - 60px);
    overflow: auto;
}
.content_inner {
    /*height:calc(100% - 50px); overflow:auto;*/
    /*height:100%;*/
    width: 1280px; margin:0 auto;
    padding:60px 0;
}


/* header */
.header{ 
    position:sticky;
     left:0; right:0; bottom:0; top:0;
    width:100%; height:60px;
    display:flex; 
    -webkit-display: flex;
    -moz-display:flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    background: #fff;
    border-bottom: 1px solid rgba(240,84,35,.2);
    z-index: 100;
    padding:0 30px;
}

.header h1{
    color:#f05423; 
    font-size:24px;
    font-family:'SofiaPro',Sans-serif; 
}

.header .nav-item{
    position: relative;
    display: flex;flex-direction: row;
    justify-content: space-between; align-items: center;
}

.header .nav-item:focus-within .dropdown-menu{
    display:block;
}

.header .nav-item .dropdown-menu{
    position:absolute;
    top: 105%; right:0; left:auto;
    z-index: 1030;
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 110px;
    padding: 1rem 0;
    margin: 0;
    font-size: 13px;
    color: #1e293b;
    text-align: center;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(98,105,118,.16);
    border-radius: 4px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.dropdown-menu-arrow::before {
    content: "";
    position: absolute;
    top: -.25rem;
    left: 5rem;
    display: block;
    background: inherit;
    width: 14px;height: 14px;
    transform: rotate(45deg);
    transform-origin: center;
    border: 1px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-color: inherit;
    z-index: -1;
    clip: rect(0,9px,9px,0);
}

.dropdown-item {
    min-width: 10rem;
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 1.4285714286;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    clear: both;
    font-weight: 400;
    color: inherit;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


/*.header .etc-menu li{
    display:inline-block;
    position: relative;
    text-align: right;
    color:#fff;
    margin-left:15px;
}
.header .etc-menu li a{color:#484440; 
font-size:13px; padding-right:0;}*/

/*.content{
}

.content_inner {
    width: 1280px; margin:0 auto;
    padding:40px 0;
}*/
.page-content {width: 100%;margin:5px auto 0;}

.location{
    position: relative; width:100%;
    padding: 0 0 5px; /*margin: 0 0 25px;*/
    text-align: left;
    display:flex;
    justify-content:space-between; 
    align-items: center;
    color:#f05423;
}
.location > h2{
    font-family:LeferiBaseType;
    font-size:28px;
}
.location .crumb{position:absolute; top:15px; right:0;}
.location .crumb li{display:inline-block; 
    border:1px solid #ddd; 
    padding:3px; height:33px; 
    cursor: pointer; position: relative;
}
.location .crumb li a{color:#000;}
.location .crumb li.bo-none{
    border:none; 
    padding:0; height:0; 
    font-size:14px; position: relative; 
    margin-left:5px; padding-right:10px;
}
.location .crumb li.bo-none::after{
    content: '';
    width: 5px; height: 5px; 
    border-top: 2px solid #222; border-right: 2px solid #222; 
    display: inline-block;
    transform: rotate(45deg); 
    position: absolute;top:8px; right:0;
}
.location .crumb li.bo-none:last-child{padding-right:0;}
.location .crumb li.bo-none:last-child::after{border:none;}



input[id*="popup"] + label + div.modal {
    position:fixed;
    top:0;left:0;
    width:100%;height:100%;
    z-index:100;
}

input[id*="popup"] + label + div.modal > div {
    /*position:absolute;*/
    top:50%;left:50%;
    transform:translate(-50%,-50%);
    width:640px;
    height:auto;
    border-radius:6px;
    border:1px solid #ddd;
    z-index:2;
}
/*닫기*/
input[id*="popup"] + label + div.modal > div > .modal-close {
    position:absolute;
    top:5%; right:5%;
    transform:translate(40%,-40%);
    /*padding:20px;
    background:#dd5347;
    border-radius:100%;*/
    z-index:1;
}
/*마스크*/
input[id*="popup"] + label + div.modal > .mask {
    position:absolute;top:0;left:0;
    width:100%;height:100%;
    background:rgba(0,0,0,.7);z-index:1;
}

input[id*="popup"] + label + div.modal {
    opacity:0;visibility:hidden;transition:all 1s;
}
input[id*="popup"]:checked + label + div.modal {
    opacity:1;visibility:visible;
}


.modal2{
    display:none;
    position:fixed;
    top:50%;left:50%;
    transform:translate3d(-50%,-50%,0);
    border:1px solid #ddd;background:#fff;
    border-radius:6px;
    z-index: 1030;
    height: auto;
}

.modal2.large{width:800px;}
.modal2.medium{width:640px;}
.modal2.small{width:380px;}
.modal2.x-small{width:320px;}
.modal-wrap2 {
    display: block;
    position: relative;
    width: 100%;
    background: #fff;
    vertical-align: middle;
    text-align: left;
}
.modal-wrap2 .modal-top2 {
  padding:15px 30px;
  border-bottom: 1px solid rgba(189, 66, 28, 0.2);
}
.modal-wrap2 .modal-top2 > h2{
    font-family:LeferiBaseType;
    color:#f05423;
    font-size:16px;
}
.modal-wrap2 .modal-close2 {
    position: absolute;
    top: 20px; right: 20px;
    width: 30px;height: 30px;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 1;
}
.modal-wrap2 .modal-close2:before, 
.modal-wrap2 .modal-close2:after{
    content:' ';
    position:absolute; left: 15px;
    background-color: #c9c9c9;
    height: 20px;width: 3px;
}
.modal-wrap2 .modal-close2:before{transform: rotate(45deg);}
.modal-wrap2 .modal-close2:after {transform: rotate(-45deg);}
.modal-wrap2 .modal-content2 {
    padding: 24px 30px 24px;
    /*max-height: calc(810px - 50px); *//*760px*/
    max-height: calc(600px - 50px); /*20220305*/
    overflow-y: auto;
    font-size: 16px;
}




.modal-wrap {
    display: block;
    position: relative;
    width: 100%;
    background: #fff;
    vertical-align: middle;
    text-align: left;
}
.modal-wrap .modal-top {
  padding:15px 30px;
  border-bottom: 1px solid rgba(189, 66, 28, 0.2);
}
.modal-wrap .modal-top > h2{
    font-family:LeferiBaseType;
    color:#f05423;
    font-size:16px;
}
.modal-wrap .modal-close {
    position: absolute;
    top: 20px; right: 20px;
    width: 30px;height: 30px;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 1;
}
.modal-wrap .modal-close:before, 
.modal-wrap .modal-close:after{
    content:' ';
    position:absolute; left: 15px;
    background-color: #c9c9c9;
    height: 20px;width: 3px;
}
.modal-wrap .modal-close:before{transform: rotate(45deg);}
.modal-wrap .modal-close:after {transform: rotate(-45deg);}

.modal-wrap .modal-content {
    padding: 24px 30px 24px;
    /*max-height: calc(810px - 50px); *//*760px*/
    max-height: calc(600px - 50px); /*20220305*/
    overflow-y: auto;
    font-size: 16px;
}


.cont-box{
    padding:15px;
    border-radius:6px;
    border: solid 1px rgba(189, 66, 28, 0.2);
    margin-bottom:20px; margin-top:10px;
}
.cont-box > h4{font-size:14px; 
    margin-bottom:10px; color:#f05423;}
.cont-box.h360{
    height:360px;
    overflow-y:auto;
}
.diagram-box{
    display:flex;
    justify-content: space-between;
}
.diagram-box.width-over figure {
    /*display: flex;*/
    /*width: 30%;*/
    /*width:120px; height:80px;*/
}
.diagram-box figure .img {
    /*display: flex;
    align-items: center;
    width:100%; height:100%;*/
    text-align:center;
    background: #f7f8f9;
}
.diagram-box figure .img img{width:120px; height:80px;}
.diagram-box figure .img-s img{width:98px; height:80px;}
.diagram-box figure + * {
    flex: 1;
    margin-left: 10px;
    color:#5e5e5f;;
    font-size:13px;
    line-height:23px;
    /*font-weight:600;*/
}

.list-type .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}
.list-type .list {
    margin: 10px 0 0 0;
    padding-bottom:14px;
}
.list-type .list > li, .list-type p{
    position: relative;
    max-width: 100%;
    z-index: 1;
    word-break: keep-all;
    line-height:23px;
    color: #61666f;
    font-size:14px;
}

.btnArea{text-align:center; margin:30px 0;}

.counter{
    display:flex; 
    justify-content:space-between;
    align-items: center;
}

/* ************************** 본문 ************************** */

.search_area{ 
    border: solid 1px #f05423; 
    margin-bottom:30px;
    /*height:76px;*/ width:100%;
    background-color: #fef5f2;
}
.search_in {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:27px 20px;
}
.search_in li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.search_in table {}
.search_in tbody th, 
.search_in tbody td {padding:12px;}
.search_in tbody tr:last-child th,
.search_in tbody tr:last-child td {}
.search_in tbody th {
    background-color:#f7f8f9; 
    color:#222; font-weight:500;
}
.search_in tbody td.padding{padding:1rem;}*/


/*.list-type1 .list {margin-top:10px;}
.list-type1 .list li {
    position: relative;
    margin-top:4px;padding-left:20px;
    font-size:14px; color:#8e9198;
}
.list-type1 .list li::before {
    display: block;
    content: '';
    position: absolute; left: 7px; top: 9px;
    width: 3px;height: 3px;
    line-height: 20px; border-radius: 50%;
    background-color: #8e9198;
}*/

.tbl-wrap{margin-top: 5px;}
.tbl-header, .board-search{
    width:100%;
    min-height:20px; 
    margin-bottom:5px;
}
.tbl-header span{font-size:13px;}
.tbl-header .left{float:left;}
.tbl-header .right{float:right;}

.table-scroll-x {
    overflow-x: auto;
    -ms-overflow-style: none;scrollbar-width: none;
}
.tbl-type{width:100%;
    border-top: 2px solid #f05423;
}
.tbl-type table {
    /*min-width:1280px;*/
    /*border-bottom: 1px solid #bbbdc1;*/
}
.tbl-type thead th {
    position: relative;padding: 11px 10px;
    line-height: 18px;text-align: center;
    vertical-align: middle;color: #363636;
    background-color: #fef5f2;
    border-bottom: 1px dotted rgba(189, 66, 28, 0.2);
    font-weight:500;
}
.tbl-type thead tr:first-child th {border-top: 0;}
.tbl-type thead tr:first-of-type th:first-of-type {
    border-left: 0;}
.tbl-type thead th:last-of-type {border-right: 0;}
.tbl-type tbody td {
    position: relative;
    padding: 10px 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    line-height: 20px;
    color: #1f2533;
    border-bottom: 1px dotted rgba(189, 66, 28, 0.2);
    /*border-bottom: 0;*/
}
.tbl-type tbody td:first-of-type {border-left: 0;}
.tbl-type tbody td:last-of-type {border-right: 0;}
.tbl-type tbody th{
    text-align:left;
    background-color: #fef5f2;
    padding:10px 10px 10px 17px;
    border-bottom: 1px dotted rgba(189, 66, 28, 0.2);
    vertical-align:middle;
    color:#222;
    font-weight:500;
    font-size:15px;
}
.tbl-type tbody th.ph{padding: 18px 10px 18px 17px;}
.tbl-type tbody tr th:first-of-type {border-left: 0;}


/*리스트*/
.boardSearch{
    display:flex;
    justify-content: space-between;
    margin-bottom:5px; margin-top:50px;
}
.boardSearch .result {
    font-family:LeferiBaseType;
    position:relative;
    float: left; color: #f05423; 
    font-size:20px; 
    padding-top:5px; padding-left:13px;
    font-weight:bold;
}
.boardSearch .result:before{
    content: '';
    position:absolute;
    top:20%; left:0;
    background:#f05423;
    width:6px; height:20px;
}
.boardSearch .right {float: right;}

/* boardList */
.boardList{
    margin-bottom:30px;border-top: 1px solid #f05423;
    background:#fff; position:relative;
}
.boardList table {width:100%;}
.boardList table thead th{
    text-align:center;
    background-color:#fef5f2;
    padding:11px 10px;
    border-bottom: 1px dotted rgba(189, 66, 28, 0.2);
    vertical-align:middle;
    color: #222;
    /*font-weight:400;*/
}
.boardList thead tr:first-child th {border-top: 0;}
.boardList thead tr:first-of-type th:first-of-type {
    border-left: 0;}
.boardList thead th:last-of-type {border-right: 0;}
.boardList table tbody td{
    position: relative;
    padding: 6px 10px;
    text-align: center;
    vertical-align:middle;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px dotted rgba(189, 66, 28, 0.2);
    /*border-bottom: 0;*/color: #1f2533;
}

.boardList table tbody td:first-of-type {
    width: 54px;border-left: 0;}
.boardList table tbody td:last-of-type {border-right: 0;}
.boardList table tbody td a:visited,
.boardList table tbody td a:hover,
.boardList table tbody td a:active,
.boardList table tbody td a:focus{
text-decoration: underline;}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
}
.pagination > a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    min-width: 24px;
    height: 24px;
    text-align: center;
    font-size: 15px;
    transition: background 0.3s;
    color: #f05423;
    /*border-bottom:1px solid #f05423;*/
}
.pagination > span {min-width:24px; margin: 0 4px; text-align:center;}
.pagination > span:hover {cursor: pointer;}
.pagination > span > a{color:#f05423; text-decoration:none;}
.pagination > span > a:hover, .pagination .active {
    font-weight: 700;
    color: #f05423;
    font-size:16px;
    border-bottom:1px solid #f05423;
    /*text-decoration: underline;*/
}

.pagination > a.first,
.pagination > a.last {
    background: url(../images/arrow-d-left.png) 
        no-repeat center center;
    background-size: 24px 24px;
}
.pagination > a.prev,
.pagination > a.next {
    background: url(../images/arrow-right.png) 
        no-repeat center center;
    background-size: 24px 24px;
}
.pagination > a.prev,
.pagination > a.last {transform: rotate(180deg);}

/*.pagination .disabled {
    pointer-events: none;
    cursor: default;
}*/
.view-box{margin-top:10px;}
.view-box > ul{display:flex;justify-content: flex-start;}
.view-box > ul > li{
    width:400px; 
    border: 1px solid #f05423;
    /*box-shadow: 0 0 10px 0 rgba(255, 108, 64, 0.3);
    -webkit-box-shadow: 0 0 10px 0 rgba(255, 108, 64, 0.3);*/
}
.view-box > ul > li.li1{
    width:840px;
    margin-right:40px; 
    border-top: 1px solid #f05423;
    border-left:none; 
    border-right:none; 
    border-bottom:none;
    box-shadow:none;
}


.Total-title{
    display:flex; 
    justify-content:space-between;
    align-items: center;
    padding:10px 20px;
    border-bottom:1px solid rgba(189, 66, 28, 0.2);
}
.Total-title > h3{font-size:20px;}

.total-area{
    padding:20px;
    /*height:730px;*/
    max-height:1280px;
    overflow-y: auto;
}



.s-box{
    display:flex;
    justify-content:space-between;
    align-items: top;
    border-bottom:1px solid rgba(189, 66, 28, 0.2);
    /*padding:15px 0;*/ padding: 8px 0 35px 0;
}

.ss-box{
    border-bottom:1px solid rgba(189, 66, 28, 0.2);
    /*padding:15px 0;*/ padding: 8px 0 35px 0; 
    overflow:hidden;
}

.List_sensor{
    float:right;
    width:90%;
}
.List_sensor > li{
    float:right;
    display:inline-block;
    width:236px;
    position:relative;
    margin:5px 0 5px 5px;
    background-color: rgba(229, 229, 229, 0.5);
    border-radius:6px;
    padding:15px 12px;
    border: solid 1px rgba(229, 229, 229, 0.5);
    /*border: 1px dotted red;*/
}

.List_sensor > li > div{
    display:flex;
    justify-content: space-between;
}

/*.List_sensor > li:hover,*/
.List_sensor > li.over{
    border: 1px solid #f05423;
    background-color:#fff;
}

input[id="Camera"], 
input[id="Lidar"],
input[id="Radar"]{
    top:19px; left:12px;
    width:16px; height:16px;
}

input[id="Camera"] + label,
input[id="Lidar"] + label,
input[id="Radar"] + label{font-size:14px;}

input[id="Camera"] + label ~ .sensor-box,
input[id="Lidar"] + label ~ .sensor-box, 
input[id="Radar"] + label ~ .sensor-box{display:none;}

input[id="Camera"]:checked ~ .sensor-box,
input[id="Lidar"]:checked ~ .sensor-box, 
input[id="Radar"]:checked ~ .sensor-box{display:block;}

.sensor-box{
    margin-top:12px;
    padding:12px 12px 0 12px;
    border-top: 1px solid #e5e5e5;
    font-size:13px;
    height:auto;
    
}
.sensor-box > li{
    position:relative;
    padding-left:10px;
    margin-bottom:5px;
    height:28px; line-height:28px;
}
.sensor-box > li > em{position:absolute; top:0; right:-12px;}
.sensor-box > li > button{position:absolute; top:0; right:-12px;}

input.chek_.bgc9 + label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 15px;
    background-color: #c9c9c9;
    vertical-align: middle;
    border-radius: 4px;
    margin-right: 5px;
    color: #363636;
    margin-top: -2px;
}
input.chek_.bgc9:checked + label:before{
  content:"\f00c";/*폰트어썸 유니코드*/
  font-family:"Font Awesome 6 pro"; /*폰트어썸 아이콘 사용*/
  font-weight:900;/*폰트어썸 설정*/
  color:#fff;
  background-color:#f05423;
  border-color:#f05423;
  font-size:13px;
  text-align:center;
  margin-top:-2px;
}




.ListText{float:right;}
.ListText > li{
    position:relative;
    font-size:14px; 
    display:inline-block;
    float: right;
    padding:10px;
    border-radius: 6px;
    /*min-width: 228px;*/
    min-width:236px;
    margin:5px 0 5px 5px;
}
.ListText > li:hover,
.ListText > li.detail{
    background-color:#fff;
    border: solid 1px #f05423; 
}

/*.ListText > li.set{ 
    background-color: rgba(254, 245, 242, 0.8);
    border: solid 1px rgba(254, 245, 242, 0.8);
}
.ListText > li.set.detail{
    background-color:#fff;
    border: solid 1px #f05423; 
}*/

.ListText > li.disabled{
    border: solid 1px rgba(229, 229, 229, 0.5);
    background-color: rgba(229, 229, 229, 0.5);
}
.ListText > li.w306{min-width:306px; padding:10px;}
.ListText > li.w360{min-width:360px; padding:10px;}

.ListText li > div > span {position:relative;}
.ListText li > div{
    display:flex;
    -webkit-display:flex;
    align-items: center;
    justify-content: space-between;
    height:28px;
}

/*말풍선*/
.video-box{
    /*position: relative;*/
    z-index:1030;
    position:absolute; top:35px; left:-140px;
    width: 360px; 
    padding:12px;
    background: #FFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px rgba(189, 66, 28, 0.2);
    -webkit-box-shadow: 4px 5px 12px 0 rgba(67, 86, 100, 0.13);
    box-shadow: 4px 5px 12px 0 rgba(67, 86, 100, 0.13);
}

.video-box:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 14px 14px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0; z-index: 1;
    top: -14px; left:134px;
    /*left: 48px;*/  
}

.video-box:before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: rgba(189, 66, 28, 0.2) transparent;
    display: block;
    width: 0; z-index: 0;
    top: -15px; left: 133px;
    /*left: 47px;*/  
}

.video-box figure{float:left; margin-right:10px;}
.video-box figure img{width:120px; height:90px;}
.video-box .type-vido{
    float:left; 
    width:60%;
    line-height:160%; 
    color:#8e9198;
    font-size:11px;
}

/*:focus-within 의사 클래스는 포커스를 받았거나, 
포커스를 받은 요소를 포함하는 요소를 나타냅니다*/
.ListText li > div > span.tip:focus-within .video-box{
    display:block;
}
.video-box{display:none;}




