/* General style */
.grid-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.grid-gallery figure {
	margin: 0;
}

.grid-gallery figure img {
	display: block;
	width: 100%;
}

/* Grid style */
.grid-wrap {
	margin: 0 auto;
}

.grid {
	margin: 0 auto;
}

.grid li {
	width: 20%;
	float: left;
	cursor: pointer;
    position: relative;
}

.grid figure {
	padding: 12px;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.grid li:hover figure {
	opacity: 0.7;
}


/* Slideshow style */
.slideshow {
	position: fixed;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transition: opacity 0.2s, visibility 0s 0.2s;
	transition: opacity 0.2s, visibility 0s 0.2s;
}

.slideshow-open .slideshow {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.slideshow ul {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,150px);
	transform: translate3d(0,0,150px);
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.slideshow ul.animatable li {
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.slideshow-open .slideshow ul {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slideshow li {
	width: 660px;
	/*height: 560px;*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -280px 0 0 -330px;
	visibility: hidden;
}

.slideshow li.show {
	visibility: visible;
}

.slideshow li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.slideshow li.current:after {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.2s, visibility 0s 0.2s;
	transition: opacity 0.2s, visibility 0s 0.2s;
}

.slideshow figure {
	width: 100%;
	height: 100%;
	background: #fff;
	border: 40px solid #fff;
	overflow: hidden;
}


/* Navigation */
.slideshow nav span {
	position: fixed;
	z-index: 1000;
	color: #59656c;
	text-align: center;
	padding: 3%;
	cursor: pointer;
	font-size: 2.2em;
}

.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.slideshow nav span.nav-next {
	right: 0;
}

.slideshow nav span.nav-close {
	top: 0;
	right: 0;
	padding: 0.5em 1em;
	color: #fff;
}

.icon:before,
.icon:after {
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

span.nav-prev:before {
	content: "\f053";
}

span.nav-next:before  {
	content: "\f054";
}

span.nav-close:before {
	content: "\f00d";
}

/* Info on arrow key navigation */
.info-keys {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 60px;
	font-size: 8px;
	padding-top: 20px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}

.info-keys:before,
.info-keys:after {
	position: absolute;
	top: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
}

.info-keys:before {
	left: 10px;
	content: "\f053";
}

.info-keys:after {
	right: 10px;
	content: "\f054";
}





/* 2021-05-27 추가 */

.grid li .btn-close {
    position: absolute;
    top:4px;
    right:4px;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    z-index: 99;
}
.grid li .btn-close:hover {
    background: rgba(0,0,0,1);
}
.grid li .info {
    font-size:13px;
    padding: 0 4px;
    font-weight: 500;
}
.grid li .info .date{
    opacity: 0.55;
}
.grid li > .attach {
    margin: 12px;
    padding: 20px;
    border-radius: 0;
    border: 1px dashed #ddd;
    text-align: center;
    height: auto;
    background: #f0f0f0;
}
.grid li > .attach .btn-sm{
    margin-left: 8px;
    background-color: transparent;
}



/* Example media queries (reduce number of columns and change slideshow layout) */

@media screen and (max-width: 60em) {
	/* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
    .grid-wrap {
        margin: 0 -4px;
    }
	.grid li {
		width: 33.3%;
        margin-bottom: 8px;
	}
    .grid figure {
        padding: 4px;
        height: 78px;
    }
    .grid figure img {
        height: 100%;
    }
    .grid li > .attach {
    margin: 4px;
    padding: 20px 4px 4px;
    height: 70px;
}
    .grid li > .attach .btn-sm {
        padding: 8px;
        
    }
	.slideshow li {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
	}

	.slideshow li figure img {
		width: auto;
		margin: 0 auto;
		max-width: 100%;
	}

	.slideshow nav span,
	.slideshow nav span.nav-close {
		font-size: 1.8em;
		padding: 0.3em;
        color: #555;
	}

	.info-keys {
		display: none;
	}

}




#layer-img-detail{
    right: 0;
    left:auto;
    width: 64rem;
    height: 100vh;
    box-shadow: 1px 0 8px rgb(0 0 0 / 10%);
    z-index: 100;
}
#layer-img-detail > .m-header .btn-close {
    width: 2.4rem;
    height: 2.4rem;
    border: 0;
    padding: 0;
    background: url(../images/icon/ico_close_grey.png) no-repeat 50% 50% / 20px 20px;
    margin: 0 .2rem 0 1.2rem;
}
.thum-list li.img-detail {
    cursor: pointer;
}











