/* ------- NAV ------- */
/* - 수정 20-09-28 - */
/* - 수정 2022-10-12 - */
/* - 수정 2022-10-24 - */
/* - 수정 2022-12-13 - */

.side-nav {
    position: sticky;
    width: 240px;
    height: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;
    background: #313131;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 16%);
    min-width: 240px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.brand-user {
    padding: 3.2rem 2.4rem;
    border-bottom:1px solid #434343;
	display: flex;
    align-items: center;
    justify-content: center;
}
.brand-user .brand img {
    width: 12rem;
}

.side-nav .side-menu {
    max-height: calc(100vh - 282px);
    /*overflow-y: auto;*/
    overflow-y: overlay;
    position: relative;
}
.side-nav .side-menu > ul {}
.side-nav .side-menu ul li {}
.side-nav .side-menu ul li a {
    display: flex;
	align-items: center;
    width: 100%;
    position: relative;
    padding: 1.4rem 2rem;
    color: #fff;
	font-size: 1.4rem;
	font-weight: 500;
	opacity: .7;
}
.side-nav .side-menu ul li a > img {
	width: 2rem;
	margin-right: 1.6rem;
}
.side-nav .side-menu ul li a i{
    margin-right: 1.2rem;
}
.side-nav .side-menu ul li a:hover,
.side-nav .side-menu ul li a:active,
.side-nav .side-menu ul li a:focus{
    color: #fff;
	opacity: 1;
    background-color: #222;
}
.side-nav .side-menu ul li a:focus{
    font-weight: 700;
}

.side-nav .side-menu .side-menu-dropdown > a:after {
    font-family: "FontAwesome";
    content: "\f078";
    display: inline-block;
    position: absolute;
    right: 1.8rem;
    top: 1.7rem;
    font-size: 1.27rem;
}
.side-nav .side-menu .side-menu-dropdown.active > a:after {
    transform: rotate(180deg);
}
.side-nav .side-menu .side-menu-submenu ul {
    padding: 0 0 .6rem 0;
}
.side-nav .side-menu .side-menu-submenu ul > li > a {
    padding: 1.2rem 2.4rem 1.2rem 5.7rem;
    font-size: 1.3rem;
}
.side-nav .side-menu .side-menu-submenu ul > li > a:hover {
	color: #fff;
}
.side-nav .side-menu .side-menu-submenu {
    display: none;
}
.side-nav .side-menu > ul > li.active > a,
.side-nav .side-menu .side-menu-submenu ul li.active > a,
.side-nav .side-menu .side-menu-submenu ul li > a:active{
    color: #fff;
    font-weight: 700;
    opacity: 1;
}
.side-nav .side-menu-submenu {
    background-color: #222;
}
.side-menu .new-red {
	margin: 0 .8rem;
}
.side-nav > footer {
	width: 100%;
	position: absolute;
	left:0;
	bottom:0;
	height: 4rem;
	border-top:1px solid #434343;
	background: #313131;
}
.side-nav > footer > div{
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 2rem;
}
.side-nav > footer .v-info { 
	font-size: 1.2rem;
	color: #999;
}


.side-nav .side-nav-header {
	background: rgba(255,255,255,.04);
}
.side-nav-header > .ico-menu-list {
	justify-content: flex-end
}
.ico-menu-list{
	display: flex;
	padding: 1rem 2rem;
}
.ico-menu-list .ico-btn{
	width: 2.4rem;
	height: 2.4rem;
	margin-left: 2rem;
	opacity: .8;
    position: relative;
    padding: .2rem;
}
.ico-menu-list .ico-btn:hover{
	opacity: 1;
}

.side-nav > .user {}
.side-nav > .user a, 
.side-nav > .PiMS a {
	display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 1.6rem 2rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    opacity: .7;
}
.side-nav > .user a:after {
	font-family: "FontAwesome";
    content: "\f054";
    display: inline-block;
    position: absolute;
    right: 1.8rem;
    top: 2rem;
    font-size: 1.27rem;
}
.side-nav > .user a:hover, 
.side-nav > .PiMS a:hover {
    opacity: 1;
	background-color: #222;
}
.side-nav > .user a > img,
.side-nav > .PiMS a > img {
	width: 2rem;
	margin-right: 1.6rem;
}
.side-nav > .user a > .name:after{
	content: '님';
	margin-left: 2px;
	opacity: .7;
	font-size: 90%;
}

.side-nav > .PiMS {
	border-bottom: 1px solid #434343;
}
.side-nav > .PiMS a:after {
	font-family: "FontAwesome";
    content: "\f24d";
    display: inline-block;
    position: absolute;
    right: 1.8rem;
    top: 2rem;
    font-size: 1.27rem;
}


.badge {
    display: inline-block;
    position: absolute;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: -.05em;
    border-radius: 3rem;
    padding: 6px 8px;
}
.badge.noti {
    padding: 3px 6px 2px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #FF3E1D;
    border: 0;
    color: #fff;
    top: -6px;
    right: -9px;
}


/*사이드바 토글 기능 추가 2023-04-13*/
.page-wrapper.toggled #side-nav {
    margin-left: -240px;
    position: fixed;
}

#menu-toggle {
    position: absolute;
    right: -4rem;
    width: 4rem;
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu-toggle .ico-btn {
    width: 2.8rem;
    height: 2.8rem;
    position: relative;
    padding: 0.2rem;
}


