
/* -------------------------------- 
 Header
-------------------------------- */
.cd-morph-dropdown {
    position: fixed;
    height: 5.6rem;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}
.cd-morph-dropdown::before {
  /* never visible - used in JS to check mq */
  content: 'mobile';
  display: none;
}
.cd-morph-dropdown .nav-trigger {
  /* menu icon - visible on small screens only */
  position: relative;
  height: 5.6rem;
  width: 5.6rem;
  /* replace text with icon */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
.cd-morph-dropdown .nav-trigger span, .cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
  /* these are the 3 lines of the menu icon */
  position: absolute;
  background-color: #1A1A1A;
  height: 3px;
  width: 24px;
}
.cd-morph-dropdown .nav-trigger span {
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}
.cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.cd-morph-dropdown .nav-trigger span::before {
  -webkit-transform: translateY(-9px);
      -ms-transform: translateY(-9px);
          transform: translateY(-9px);
}
.cd-morph-dropdown .nav-trigger span::after {
  -webkit-transform: translateY(9px);
      -ms-transform: translateY(9px);
          transform: translateY(9px);
}
.cd-morph-dropdown.nav-open .nav-trigger span {
  background-color: transparent;
}
.cd-morph-dropdown.nav-open .nav-trigger span::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.cd-morph-dropdown.nav-open .nav-trigger span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cd-morph-dropdown .main-nav {
  display: none;
}
.cd-morph-dropdown .morph-dropdown-wrapper {
  display: none;
  position: absolute;
  top: 5.6rem;
  left: 0;
  width: 100%;
  padding: 1.2em 5% 0;
  background-color: #FFF;
}
.cd-morph-dropdown.nav-open .morph-dropdown-wrapper {
    display: block;
    overflow-y: auto;
    height: calc(100vh - 5.6rem); 
}
.cd-morph-dropdown .dropdown-list > ul > li {
  margin-bottom: 2.4rem;
}
.cd-morph-dropdown .label {
    display: block;
    font-size: 2rem;
    color: #212121;
    margin-bottom: .8rem;
    text-transform: uppercase;
    font-weight: 500;
    opacity: .9;
}
.cd-morph-dropdown .label i {
    margin-right: .8rem;
}
.cd-morph-dropdown .links .content > ul > li {
  margin-top: 1em;
}
.cd-morph-dropdown .links-list a,
.cd-morph-dropdown .btn {
    display: block;
    font-size: 1.6rem;
    padding: .8rem 1.2rem;
}
.cd-morph-dropdown .links-list a:hover,
.cd-morph-dropdown .btn:hover {
    color: #00adef;
    opacity: 1;
}


/* -------------------------------- 
Main site content
-------------------------------- */
.cd-main-content {
    padding-top: 5.6rem;
    min-height: calc(100vh - 5.6rem;
  
}
@media only screen and (min-width: 1000px) {
  .cd-main-content {
    padding-top: 64px;
  }
}

.has-dropdown:after {
    font-family: "FontAwesome";
    content: "\f078";
    font-size: 1.2rem;
	padding: 0.4em;
}









