@charset "UTF-8";
/*
==============================================
                   popup-dialog
==============================================
*/
div.popup-dialog-mask {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--popup-dialog-mask);
  z-index: 1000;
}

div.popup-dialog {
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid rgb(43, 49, 54);
  background: rgb(30, 32, 34);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  width: 540px;
  opacity: 0;
  z-index: 10001;
}
div.popup-dialog.dialog-sm {
  width: 360px;
}
div.popup-dialog.dialog-380 {
  width: 380px;
}
div.popup-dialog.dialog-lg {
  width: 720px;
}
div.popup-dialog.dialog-640 {
  width: 640px;
}
div.popup-dialog.dialog-960 {
  width: 960px;
}
div.popup-dialog i.middle {
  vertical-align: middle;
}
div.popup-dialog.rounded {
  border-radius: 8px;
}
div.popup-dialog.shadow {
  -webkit-box-shadow: 0 2px 10px 5px var(--popup-shadow);
          box-shadow: 0 2px 10px 5px var(--popup-shadow);
}
div.popup-dialog.open {
  opacity: 1;
  visibility: visible;
  z-index: 2000;
}
div.popup-dialog > div.dialog-title {
  padding: 10px 20px;
  letter-spacing: 1px;
  cursor: move;
  overflow: hidden;
  text-align: left;
  font-size: 15px;
  height: 44px;
  line-height: 25px;
  border-radius: 7px 7px 0px 0px;
}
div.popup-dialog > div.dialog-body {
  margin: 5px;
  color: var(--white);
  padding: 10px 15px 15px 15px;
  overflow-y: auto;
}
div.popup-dialog > div.dialog-body p.text-center {
  padding: 0 0 10px 0;
}
div.popup-dialog > div.dialog-body p {
  padding-left: 97px;
  padding-top: 5px;
  font-size: 12px;
  color: var(--gray5); /*#9BA2A7;*/
  font-weight: 300;
  letter-spacing: -0.24px;
}
div.popup-dialog > div.dialog-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: url("../images/ico_close@2x.png") no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
div.popup-dialog > div.dialog-resizer {
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 9px;
  height: 9px;
  background: transparent url("../images/wingrip.png") no-repeat center center;
  cursor: se-resize;
}
div.popup-dialog > div.dialog-buttons {
  margin: 0 15px 20px 15px;
  height: 36px;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
div.popup-dialog > div.dialog-buttons .button {
  width: 100%;
  margin: 0 3px;
  font-size: 14px;
  width: 157px;
}
div.popup-dialog > div.dialog-buttons .button:first-child {
  margin-left: 0;
}
div.popup-dialog > div.dialog-buttons .button:last-child {
  margin-right: 0;
}
div.popup-dialog > div.dialog-buttons.big {
  height: 50px;
}
div.popup-dialog.bump {
  -webkit-animation: do-bump 0.35s ease;
          animation: do-bump 0.35s ease;
}
div.popup-dialog.fadeout {
  -webkit-animation: do-fadeout 0.2s linear;
          animation: do-fadeout 0.2s linear;
}
div.popup-dialog.fadein {
  -webkit-animation: do-fadein 0.2s ease;
          animation: do-fadein 0.2s ease;
}
div.popup-dialog.zoomin {
  -webkit-animation: do-zoomin 0.2s ease;
          animation: do-zoomin 0.2s ease;
}

@-webkit-keyframes do-bump {
  0% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes do-bump {
  0% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes do-zoomin {
  0% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes do-zoomin {
  0% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes do-fadein {
  0% {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes do-fadein {
  0% {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes do-fadeout {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    opacity: 0.1;
  }
}
@keyframes do-fadeout {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    opacity: 0.1;
  }
}
input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
}

input[type=month]::-webkit-clear-button,
input[type=month]::-webkit-inner-spin-button {
  display: none;
}

input[type=month]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
}

.page-title {
  font-size: 24px;
  font-weight: 700;
}

.badge.circled {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.badge.circled.small {
  width: 8px;
  height: 8px;
  -webkit-animation: inherit;
          animation: inherit;
  font-size: inherit;
}
.badge.circled.small.bg-gray {
  background: var(--badge-gray) !important;
}
.badge.circled.small.bg-neon {
  background: var(--badge-neon) !important;
}

.part-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; /*231115 추가*/
  height: 100%; /*231115 추가*/
}
.part-index .total {
  width: 100%; /*231115 추가*/
  height: 100%; /*231115 추가*/
  padding: 12px 15px;
  border-radius: 12px;
  margin: 0 12px 0 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /*231115 추가*/
  -ms-flex-line-pack: center;
      align-content: center; /*231115 추가*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /*231115 추가*/
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; /*231115 추가*/
}
.part-index .total:last-child {
  margin-right: 0;
}
.part-index .total.w154 {
  width: 154px;
  height: 128px;
  margin: 0 16px 0 0;
  padding: 16px;
}
.part-index .total.w154:last-child {
  margin-right: 0;
}
.part-index .total.w154 span.arrow {
  background: url("../images/ico_arrow_right.png") right center no-repeat;
  text-align: right;
  font-size: 14px;
  padding-right: 20px;
}
.part-index .total.w154 span.s-box {
  border-radius: 4px;
  padding: 8px;
  font-size: 11px;
  width: 58px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.part-index .total.w154 span.s-box .tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.part-index .total.w154 span.s-box .count {
  font-size: 17px;
}
.part-index .total.w154 span.s-box .count.color1 {
  color: var(--gray5); /*#9BA2A7;*/
}
.part-index .total.w154 span.s-box .count.color2 {
  color: var(--neon); /*#34FC1C;*/
}
.part-index .total.w154 span.s-box.bg-gray {
  background: var(--white-alpha); /*rgba(255, 255, 255, 0.06);*/
}
.part-index .total.w154 span.s-box.bg-Neon {
  background: var(--bg-Neon); /*rgba(52, 252, 28, 0.1);*/
}
.part-index .total > .tit {
  font-size: 12.5px;
  font-weight: 400;
  margin-bottom: 4px;
  display: block;
}
.part-index .total > .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 24px;
  font-weight: bold;
}
.part-index .total > .count > .small {
  font-size: 12.5px;
  letter-spacing: 1px;
}
.part-index .total > .count > .small .value {
  font-size: 24px;
  font-weight: 600;
  color: var(--neon); /*#34FC1C;*/
}
.part-index .total > .count > .value {
  font-size: 24px;
  font-weight: 600;
  color: var(--neon); /*#34FC1C;*/
}

.cctv {
  width: 100%;
  position: relative;
  border: 1px solid var(--gray-lighter); /*rgba(98, 103, 105, 0.5);*/
}
.cctv.no-border {
  border: none;
}
.cctv a, .cctv button {
  position: relative;
  width: 100%;
  height: 150px;
  display: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
}
.cctv a.height, .cctv button.height {
  height: 189px;
}
.cctv a i, .cctv button i {
  position: absolute;
  top: 42%;
  left: 47%;
}
.cctv .img-responsive {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4192FD;
}

.time-tit {
  font-size: 14px;
  color: var(--gray5); /*#9BA2A7 rgb(155, 162, 167);*/
  text-align: right;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray); /*#626769;*/
  letter-spacing: 0.8px;
}

.required::after {
  content: "*";
  display: inline-block;
  color: var(--important);
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 600;
  padding-left: 0.2rem;
}

.fz-row.row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 20px 0;
}
.fz-row.row .left {
  width: 100%; /*231115 추가*/
  height: 100%; /*231115 추가*/
  position: relative; /*231115 추가*/
  padding-left: 25px;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 100;
}
.fz-row.row .left img {
  min-width: 500px;
}
.fz-row.row .right {
  width: 560px;
  z-index: 1000;
  -webkit-transition: width 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition: width 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
.fz-row .fi3of12 {
  padding: 0 2rem 1.2rem 0;
}
.fz-row .fi3of12:nth-child(4n) {
  padding: 0;
}
.fz-row .fi6of12.basis48 {
  padding: 0;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.fz-card {
  margin-bottom: 0.8rem;
}
.fz-card:last-child {
  margin-bottom: 0;
}
.fz-card.no-bg {
  background: transparent;
}
.fz-card .fz-card-header.interval {
  margin-bottom: 8px; /*231115 수정*/
  padding: 0;
  background: transparent;
}
.fz-card .fz-card-header.no-bg {
  background: transparent;
  padding: 0;
}
.fz-card .fz-card-header.round-square {
  width: 240px;
  background: rgba(155, 162, 167, 0.2);
  border-radius: 18px;
  margin: 0 auto;
  min-height: 36px;
}
.fz-card .fz-card-header.round-square > .button {
  min-width: inherit;
  width: 24px;
  height: 24px;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: transparent;
}
.fz-card .fz-card-header .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  height: inherit;
}
.fz-card .fz-card-header .button.m-0 {
  margin: 0;
}
.fz-card .fz-card-header .button img {
  width: 16px;
  height: 16px;
  margin-left: 3px;
}
.fz-card .fz-card-body.no-bg {
  background: transparent;
}
.fz-card.padding-20-24 {
  padding: 20px 20px; /*231115 수정*/
  height: calc(25% - 9px); /*231115 추가*/
}
.fz-card.padding-20 {
  padding: 20px;
}
.fz-card.padding-15-20 {
  padding: 15px 20px;
}
.fz-card.round-20 {
  border-radius: 20px;
}

.d-flex-baseline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.d-flex-baseline span {
  font-size: 16px;
  letter-spacing: 1px;
}
.d-flex-baseline span:last-child {
  font-size: 14px;
}
.d-flex-baseline.padding {
  padding: 16px 20px;
}
.d-flex-baseline.tit {
  padding: 13px 0;
}

.input-group label.input:not(.placeholder) {
  padding: 0 0.9rem 0 0;
  background: transparent;
  border: 0;
  border-radius: 4px;
}
.input-group input:not([type=radio]):not([type=checkbox]).input:not(:first-child),
.input-group select.input:not(:first-child),
.input-group textarea.input:not(:first-child),
.input-group label.file-input:not(:first-child),
.input-group div.input:not(:first-child) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.input-group input[type=date] {
  position: relative;
}
.input-group input[type=date]:after {
  position: absolute;
  top: 50%;
  right: 8px;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/ico_calendar@2x.png) center center/contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
}

.list-group.info {
  border-top: 1px solid var(--gray); /*#626769;*/
  border-bottom: 1px solid var(--gray); /*#626769;*/
  border-radius: 0;
}
.list-group.info > .list-group-item {
  background: none;
  border-radius: 0 !important;
  border-width: 0 0 1px 0;
  border-color: var(--info-bottom-color); /*rgba(255, 255, 255, 0.04);*/
  padding: 0.5rem 3px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-group.info > .list-group-item .tit {
  color: var(--gray5); /*#9BA2A7 rgb(155, 162, 167);*/
  font-size: 14px;
  letter-spacing: -0.28px;
}
.list-group.info > .list-group-item div:last-child {
  letter-spacing: 0.8px;
}
.list-group.info > .list-group-item .id {
  text-decoration: underline;
  color: var(--primary);
}
.list-group.search {
  background-color: var(--input-background); /*#2B3136*/
  border: 1px solid var(--gray); /*#626769 rgb(98, 103, 105)*/
  border-radius: 4px;
  height: 223px;
  overflow-y: auto;
}
.list-group.search > .list-group-item {
  margin-bottom: 0;
  margin-right: 3px;
  border-radius: 0;
  border-bottom: 1px solid rgba(98, 103, 105, 0.5);
  border-width: 0 0 1px 0;
  background-color: var(--input-background); /*#2B3136*/
  color: var(--gray5); /*#9BA2A7 rgb(155, 162, 167);*/
  cursor: pointer;
}
.list-group.search > .list-group-item:hover, .list-group.search > .list-group-item:focus, .list-group.search > .list-group-item:active {
  background: var(--white-alpha); /*rgba(255, 255, 255, 0.06);*/
  color: var(--white);
}
.list-group.search > .list-group-item.active {
  background: var(--white-alpha); /*rgba(255, 255, 255, 0.06);*/
  color: var(--white); /*#fff*/
}

table.styled.middle {
  font-size: 13px;
}
table.styled.height td {
  padding: 1.4rem 0.5rem 1.4rem 0.5rem;
}
table.styled.left {
  border-top: 2px solid var(--gray); /*#626769 rgb(98, 103, 105)*/
  margin: 12px 0;
}
table.styled.left th {
  background: var(--white-alpha); /*rgba(255, 255, 255, 0.06);*/
  text-align: left;
  padding: 13.4px 16px;
  color: var(--gray5); /*#9BA2A7;*/
  font-size: 14px;
  font-weight: bold;
}
table.styled.left td {
  padding: 0.5rem;
}
table.styled.table1 thead, table.styled.table1 tbody, table.styled.table2 thead, table.styled.table2 tbody {
  background: transparent;
}
table.styled.table1 th, table.styled.table2 th {
  background: transparent;
  border-bottom-width: 1px;
  border-top-width: 0;
  border-color: var(--gray-lighter); /*rgba(98, 103, 105, 0.5);*/
  color: var(--gray5); /*#9BA2A7 rgb(155, 162, 167);*/
}
table.styled.table1 td, table.styled.table2 td {
  background: transparent;
  border-color: var(--gray-lighter); /*rgba(98, 103, 105, 0.5);*/
}
table.styled.table2 th {
  border-top-width: 1px;
  border-bottom-width: 1px;
  background: var(--white-alpha); /*rgba(255, 255, 255, 0.06);*/
  color: var(--white); /*#fff*/
}
table.styled.table2 td {
  word-break: break-all;
  font-size: 14px;
  letter-spacing: 0.8px;
}
table.styled.table2 td a {
  text-decoration: underline;
}
table.styled.table2.p-b td {
  border-color: transparent;
  padding: 0 0.5rem 0 0.5rem;
  height: 44px;
}
table.styled.table2.p-b td button {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*내림차순 버튼 이미지*/
.btn-sorting-desc {
  display: inline-block;
  overflow: hidden;
  height: 17px;
  width: 17px;
  background: url(../images/ico_arrow_down@2x.png) 0 0 no-repeat;
  background-size: contain;
  vertical-align: middle;
  cursor: pointer;
}

/*오름차순 버튼 이미지*/
.btn-sorting-asc {
  display: inline-block;
  overflow: hidden;
  height: 17px;
  width: 17px;
  background: url(../images/ico_arrow_up@2x.png) 0 -1px no-repeat;
  background-size: contain;
  vertical-align: middle;
  cursor: pointer;
}

.btn-area {
  margin: 24px 0;
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.flex-auto {
  -ms-flex-preferred-size: auto !important;
      flex-basis: auto !important;
}

.box {
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--gray-lighter); /*rgba(98, 103, 105, 0.5);*/
  padding: 0 10px;
  height: 64px;
  margin-bottom: 6px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box.no-border {
  border-radius: 0;
  border-top-width: 0;
  border-bottom-width: 0;
}
.box.no-bottom-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.box.no-top-radius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.box.disregard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
  padding: 10px;
}
.box.management {
  background: var(--white-alpha); /*rgba(255, 255, 255, 0.06);*/
  border: 0;
  -webkit-box-flex: inherit;
      -ms-flex: inherit;
          flex: inherit;
  -ms-flex-preferred-size: 568px;
      flex-basis: 568px;
  margin-bottom: 0;
  padding: 5px 5px 5px 16px;
  height: 48px;
}
.box.management.no-bg {
  background: transparent;
  padding: 0;
}

.button img {
  width: 20px;
  height: 20px;
}

.button.blue-light {
  letter-spacing: -0.36px;
  color: var(--dark-darker2); /*#2B3136;*/
  background: var(--button-blue-light-bg); /*rgb(199, 225, 245);*/
  font-weight: 500;
}

.button.green-light {
  letter-spacing: -0.36px;
  color: var(--dark-darker2); /*#2B3136;*/
  background: var(--button-green-light-bg); /*rgb(215, 231, 164);*/
  font-weight: 500;
}

label.styled input[type=checkbox] + i:before {
  content: "";
  background: url(../images/checkbox@2x.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  width: 24px;
  height: 24px;
  margin-right: 0;
}
label.styled input[type=checkbox]:checked + i:before {
  content: "";
  background: url(../images/checkbox_checked@2x.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  width: 24px;
  height: 24px;
}
label.styled input[type=checkbox]:checked:disabled + i:before,
label.styled input[type=checkbox]:disabled + i:before {
  background: var(--gray); /*#626769;*/
  background-size: 100%;
  width: 18px;
  height: 18px;
  border-radius: 2px;
}

label.styled input[type=radio] + i:before {
  content: "";
  background: url(../images/radio_default@2x.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  width: 24px;
  height: 24px;
}
label.styled input[type=radio]:checked + i:before {
  content: "";
  background: url(../images/radio_select@2x.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  width: 24px;
  height: 24px;
}
label.styled input[type=radio]:checked:disabled + i:before,
label.styled input[type=radio]:disabled + i:before {
  background: url(../images/radio_disabled@2x.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  width: 24px;
  height: 24px;
}

.page-area {
  padding: 20px 0 0 0;
  position: relative;
}
.page-area .pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-area .pagination > .input {
  width: 64px !important;
  margin: 0 0.3rem 0 0.2rem;
  text-align: right;
}
.page-area .pagination > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  margin: 0 0.3rem 0 0.5rem;
  background: transparent !important;
}
.page-area .pagination > a img {
  width: 16px;
  height: 16px;
}

.input-group label {
  color: var(--label-color);
}
.input-group label.w-115 {
  width: 115px;
}
.input-group > span {
  letter-spacing: -0.28px;
  font-size: 14px;
  font-weight: 200;
}
.input-group .text-gray5 {
  font-size: 13px;
  color: var(--gray5); /*#9BA2A7;*/
}
.input-group > .inner-input-group {
  overflow: inherit;
}
.input-group > .inner-input-group > label {
  color: var(--label-color);
  width: 112px;
  letter-spacing: -0.42px;
  margin-bottom: 0;
}
.input-group > .inner-input-group > label.w-92 {
  width: 92px;
  margin-right: 5px;
}
.input-group > .inner-input-group .flex label.ch_styled {
  width: 72px;
}
.input-group > .inner-input-group i.eyes {
  position: absolute;
  top: 31px;
  bottom: 0;
  right: 5px;
  margin: auto 2px;
  height: 30px;
  cursor: pointer;
}

.search-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.search-group > input[type=text].input {
  width: 100%;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  color: var(--gray5); /*#9BA2A7;*/
}
.search-group .search {
  position: absolute;
  top: 6px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  cursor: pointer;
}
.search-group .search img {
  width: 24px;
  height: 24px;
}

label.ch_styled {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
}
label.ch_styled.bg {
  background: var(--input-background) !important; /*#2B3136*/
}
label.ch_styled input[type=checkbox] + i,
label.ch_styled input[type=radio] + i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--input-background); /*#2B3136*/
  background: var(--input-background); /*#2B3136*/
  border-radius: 4px;
  padding: 0.33rem 0.5rem;
  height: 36.38px;
}
label.ch_styled input[type=checkbox]:checked + i,
label.ch_styled input[type=radio]:checked + i {
  border: 1px solid var(--primary); /*#2884FC;*/
}

/*초기화,세로고침*/
.button.ico_refresh {
  width: 102px;
  height: 36.38px;
  font-size: 14px;
  background: var(--input-background); /*#2B3136*/
  border: 1px solid var(--gray); /*#626769;*/
  color: var(--white); /*#fff*/
}
.button.ico_refresh::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/ico_refresh@2x.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 1px;
}

.ico_write {
  background: var(--primary) url(../images/ico_write@2x.png) no-repeat left 8px top 50%/20px 20px !important;
  padding: 0.35rem 1rem 0.45rem 2.2rem !important;
  margin-right: 0 !important;
}

.ico_plue {
  background: var(--primary) url(../images/ico_plus@2x.png) no-repeat left 8px top 50%/20px 20px !important;
  padding: 0.35rem 1rem 0.45rem 2.2rem !important;
  margin-right: 0 !important;
}

.ico_search {
  background: var(--primary) url(../images/ico_search_grey@2x.png) no-repeat left 5px top 50%/24px 24px !important;
  width: 36px !important;
  height: 36px;
}

.ico_add {
  background: var(--yellow) url(../images/ico_plus@2x.png) no-repeat left 8px top 50%/20px 20px !important;
  padding: 0.35rem 1rem 0.45rem 2.2rem !important;
  margin-right: 0 !important;
  color: var(--white); /*#fff*/
}

.ico_down {
  background: rgb(26, 213, 5) url(../images/ico_download@2x.png) no-repeat left 8px top 50%/20px 20px !important;
  padding: 0.45rem 1rem 0.45rem 2.2rem !important;
  margin-right: 0 !important;
  color: var(--white); /*#fff*/
}

.fz-tabs-ex > .tab-contents {
  overflow: hidden;
  border-right: 1px solid var(--gray-lighter); /*(98, 103, 105, 0.5);*/
  padding-bottom: 2rem;
}
.fz-tabs-ex > .tab-contents .button {
  width: 156px;
}
.fz-tabs-ex .total {
  position: absolute;
  top: 15px;
  right: 0;
  width: 300px;
  padding-left: 15px;
  font-size: 15px;
}
.fz-tabs-ex label.tab-label {
  cursor: pointer;
}
.fz-tabs-ex label.tab-label:has(> input[type=radio].tab-input:checked) {
  border-left: 3px solid var(--danger);
  border-bottom-color: var(--gray-lighter); /*(98, 103, 105, 0.5);*/
  border-bottom-width: 1px;
  opacity: 1;
}
.fz-tabs-ex label.tab-label.on {
  border-left: 3px solid var(--danger) !important;
  background: rgba(62, 64, 64, 0.3);
  opacity: 1;
}
.fz-tabs-ex .tit-danger {
  font-size: 24px;
  padding: 5px 5px 5px 60px;
  background-image: url(../images/ico_error_big@2x.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 48px 48px;
}
.fz-tabs-ex.tab-right > .tab-headers.d-alarm {
  width: 300px;
  height: 530px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 0;
  margin-top: 3rem;
}
.fz-tabs-ex.tab-right > .tab-headers label.tab-label {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  padding: 0.8rem 0.75rem;
  text-align: left;
  white-space: normal;
  border: 1px solid rgba(98, 103, 105, 0.4);
  border-right-width: 0;
  border-bottom-width: 1px;
  border-top-width: 0;
  border-left-width: 0;
}
.fz-tabs-ex.tab-right > .tab-headers label.tab-label:first-child {
  border-top-width: 1px;
}
.fz-tabs-ex.tab-right > .tab-headers label.tab-label > span {
  display: block;
  letter-spacing: 0.5px;
  font-size: 13px;
  font-weight: 200;
}
.fz-tabs-ex.tab-right > .tab-headers label.tab-label > span.tit-red {
  font-size: 16px;
  color: var(--red);
  margin-bottom: 0.5rem;
  font-weight: 500;
}

/* LOADING OVERLAY */
#loading-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  z-index: 999999;
}
#loading-overlay #loading {
  /*width: 60px;*/
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  margin: auto;
  text-align: center;
}
#loading-overlay #loading .dot-area .dot {
  display: inline-block;
  background: #2884FC;
  vertical-align: middle;
  border-radius: 4px;
}
#loading-overlay #loading .dot-area .dot.right {
  margin-right: 10px;
  -webkit-animation: loading 1s 0s linear infinite;
          animation: loading 1s 0s linear infinite;
}
#loading-overlay #loading .dot-area .dot.right.one {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  width: 20px;
  height: 20px;
}
#loading-overlay #loading .dot-area .dot.right.two {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  width: 30px;
  height: 30px;
}
#loading-overlay #loading .dot-area .dot.right.three {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  width: 40px;
  height: 40px;
}
@-webkit-keyframes loading {
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes loading {
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
#loading-overlay #loading .loading-text {
  position: relative;
  top: 20px;
  margin-bottom: 0 !important;
  color: var(--white);
  display: block;
  -webkit-animation: loading-text 0.5s ease infinite alternate;
  animation: loading-text 0.5s ease infinite alternate;
}
@-webkit-keyframes loading-text {
  100% {
    top: 30px;
  }
}
@keyframes loading-text {
  100% {
    top: 30px;
  }
}

/*loading*/
div.pploading {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: visible;
  overflow: hidden;
  line-height: normal;
  line-height: initial;
}
div.pploading mask {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #000;
}
div.pploading .dot-wrapper {
  position: relative;
  width: 100%;
  height: 100px;
  text-align: center;
}
div.pploading .dot-wrapper .dot-folding {
  width: 200px;
  height: 50px;
  display: block;
  font-size: 0;
  text-align: center;
  margin: 0 auto;
}
div.pploading .dot-wrapper .dot-folding span {
  display: inline-block;
  background: #2884FC;
  vertical-align: middle;
  border-radius: 4px;
  margin-right: 10px;
  -webkit-animation: loading 1s 0s linear infinite;
          animation: loading 1s 0s linear infinite;
}
div.pploading .dot-wrapper .dot-folding span.leaf1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  width: 20px;
  height: 20px;
}
div.pploading .dot-wrapper .dot-folding span.leaf2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  width: 30px;
  height: 30px;
}
div.pploading .dot-wrapper .dot-folding span.leaf3 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  width: 40px;
  height: 40px;
}
div.pploading .dot-wrapper .loading {
  font-size: 20px;
  letter-spacing: 0.1em;
  display: block;
  color: var(--white);
  position: relative;
  top: 10px;
  white-space: nowrap;
  text-transform: uppercase;
  -webkit-animation: text 0.5s ease infinite alternate;
  animation: text 0.5s ease infinite alternate;
}
@keyframes loading {
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@-webkit-keyframes text {
  100% {
    top: 20px;
  }
}
@keyframes text {
  100% {
    top: 20px;
  }
}

.textArea {
  position: relative;
  line-height: 160%;
  margin-bottom: 3rem;
}

.h_exp {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 1.875rem;
  font-size: 1.1875rem;
  color: #437dea;
  line-height: 1.5;
  font-weight: 500;
}
.h_exp::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  background: url(../images/h_icon_01.png) no-repeat 0 50%;
  background-size: contain;
}

.privacyBox {
  position: relative;
  margin-top: 0.4rem;
  font-weight: 400;
  border-radius: 0.4rem;
  padding: 1rem;
}
.privacyBox.bg-gray-dark {
  background-color: #282828 !important;
}
.privacyBox.white {
  background: #fff;
}
.privacyBox.pd-small {
  padding: 1.5625rem 1.875rem;
}
.privacyBox.bd-gray {
  border: 1px solid #e5e5e5;
}
.privacyBox .list_dia > li {
  position: relative;
  padding-left: 0.9rem;
}
.privacyBox .list_dia > li::before {
  display: block;
  width: 0.3125rem;
  height: 0.3125rem;
  content: "";
  position: absolute;
  left: 0;
  top: 0.6rem;
  background-color: #3db8b2;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.privacyBox .list_dia > li strong {
  color: #3db8b2;
}
.privacyBox .list_dot > li {
  position: relative;
  padding-left: 14px;
  color: var(--gray5);
}
.privacyBox .list_dot > li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0.625rem;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background: #2357b8;
}
.privacyBox .list_dot > li.no-bg {
  padding-left: 0;
}
.privacyBox .list_dot > li.no-bg::before {
  background: none;
}
.privacyBox .list_dot > li:not(:last-child) {
  margin-bottom: 0.5rem;
}
.privacyBox .hangle-list > li {
  position: relative;
  display: block;
  margin-bottom: 1.6875rem;
  padding-left: 22px;
}
.privacyBox .hangle-list > li > span {
  position: absolute;
  left: 0;
  top: -1px;
  width: 20px;
  line-height: 24px;
}
.privacyBox .hangle-list > li .han-tt {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4;
  color: #ccc;
}
.privacyBox .hangle-list > li .list_dot > li,
.privacyBox .hangle-list > li .number-sm-circle-list > li {
  margin-bottom: 0.5rem;
}
.privacyBox .hangle-list > li .list_dot > li:last-child,
.privacyBox .hangle-list > li .number-sm-circle-list > li:last-child {
  margin-bottom: 0;
}
.privacyBox .hangle-list > li .list_dot > li .n-txt-con,
.privacyBox .hangle-list > li .number-sm-circle-list > li .n-txt-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1rem;
  font-weight: 400;
}
.privacyBox .hangle-list > li .list_dot > li .n-txt-con i.num,
.privacyBox .hangle-list > li .number-sm-circle-list > li .n-txt-con i.num {
  font-style: normal;
  color: var(--gray5);
  line-height: 1;
  font-size: 13px;
}
.privacyBox .hangle-list > li .list_dot > li .n-txt-con p.txt,
.privacyBox .hangle-list > li .number-sm-circle-list > li .n-txt-con p.txt {
  padding-left: 0.5rem;
  padding-top: 0;
  color: var(--gray5);
}
.privacyBox .hangle-list > li .list_dot > li > ul,
.privacyBox .hangle-list > li .number-sm-circle-list > li > ul {
  padding-left: 1.5rem;
}